
{% extends 'src/generic_page_block.html' %}
{% load static %} 
{% block title%}Welcome {% endblock title %}



{% block body%}

<!-- NavBar-->

<!-- Main Content-->
<main>
    <div class="tw-grid tw-h-screen tw-px-4 tw-bg-white tw-place-content-center">
        <h1 class="tw-tracking-widest tw-text-gray-500 tw-uppercase">404 | Not Found</h1>
    </div>
</main>



{% endblock body %}

<!-- ========== Start Scripts ========== -->
{% block scripts %}

{% endblock scripts %}
<!-- ========== End Scripts ========== -->