{% extends 'src/generic_page_block.html' %}
{% load static %} 
{% block title%}Forgot password {% endblock title %}



{% block body%}

<!-- NavBar-->
{% include 'src/nav.html' %}
<!-- Main Content-->
<main>
    <form action="">
        {% csrf_token %}
    </form>
    <!-- ========== Start component ========== -->
    <div id='step1'  class="card text-center mx-auto mb-3 w-25" style="min-width:350px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2" id='step-info'>
                Enter your email address and we'll send you an email with a token to reset your password.
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email input</label>
            </div>
            <button id='get-token-btn' class="btn btn-primary w-100">Get Token</button>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="{% url 'auth' %}">Login</a>
                <a class="" href="{% url 'auth' %}">Register</a>
            </div>
        </div>
    </div>
    <!-- ========== End component ========== -->

    <!-- ========== Start change password ========== -->
    <div id='step2'  class="card text-center mx-auto mb-3 w-25" style="min-width:350px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2" id='step2-info'>
                Enter token sent to your email and your new password.
            </p>
            <div class="form-outline">
                <input type="email" id="token" class="form-control my-3" />
                <label class="form-label" for="token"> Token</label>

                <br>

                <input type="password" id="password" class="form-control my-3" />
                <label class="form-label" for="password"> New Password</label>
            </div>
            <button id='submit-token-btn' class="btn btn-primary w-100">Change Password</button>
        </div>
    </div>
    <!-- ========== End change password ========== -->

</main>


<div id="preloader"></div>
{% endblock body %}

<!-- ========== Start Scripts ========== -->
{% block scripts %}
{% include 'src/scripts.html' %}
<script>
    const step1 = document.getElementById('step1')
    const step2 = document.getElementById('step2')
    var csrfToken =  document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    step2.style.display = 'none'
    //check if email field is valid before running function

    // function for step 1
    document.getElementById('get-token-btn').addEventListener('click',()=>{
        var email = step1.querySelector('input[type=email]')
        if(email.value && email.value.indexOf('@') != -1){
            fetch(`{% url "recover-password"  %}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrfToken
                },
                body:JSON.stringify({email:email.value})
            })
            .then(e=>{
                if(e.ok){
                    step1.style.display='none'
                    step2.style.display='block'
                }else{
                    document.getElementById('step-info').innerText = "Invalid email address or account with matching email not found"
                }
            })
            
        }
    })

    // function for step 2
    document.getElementById('submit-token-btn').addEventListener('click',()=>{
        let password,token;
        password = document.getElementById('password').value
        token = document.getElementById('token').value

        if(password && token){
            if(password.length <=6){
             
                return
            }
            const data = {
                'password':password,
                'token':token,
                
            }
            
            fetch('{% url "verify-password-token" %}',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrfToken
                },
                body:JSON.stringify(data)
            })
            .then(e=>{
                if (e.ok) {
                    document.getElementById('step2-info').innerText = "password changed"
                    setTimeout(()=>{
                        window.location = '{% url "auth" %}'
                    },2000)
                    
                }
            })
        }

    })
</script>
{% endblock scripts %}
<!-- ========== End Scripts ========== -->