{% extends 'src/generic_page_block.html' %}
{% load static %}
{% block title%}Unban Your Account {% endblock title %}



{% block body%}

<!-- NavBar-->
{% include 'src/nav.html' %}
<!-- Main Content-->
<style>
  .purple-bg{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


  }
  .glass-bg{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .input-bx{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  }
  .input-bx:focus{
    border:none;
    outline:none;
  }
  .btn-custom{
    color: #fff;
    background: rgba(255,255,255,0.05);
      backdrop-filter: blur(10px);
      border-top: 1px solid rgba(255,255,255,0.2);
      border-left: 1px solid rgba(255,255,255,0.2);
      box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
      transition:all .3s;
  }
  .btn-custom:hover{


    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

            box-shadow: 0 0 50px #00DBDE;
  }

  .max-w-sm{
      max-width:600px;
  }
</style>
<main class=" purple-bg">
<!-- End Breadcrumbs -->
      <div class='container'>
        {% include "src/countdown.html" %}
      </div>
      <div class="tw-h-screen tw-text-white pt-5">
        <div>
          <div class="mx-auto tw-rounded-sm p-5 tw-shadow-lg max-w-sm tw-bg-slate-400 tw-mb-12 glass-bg">
                <form id="recovery-form" method="post">
                    <h4 class="text-center mb-3">Unban Account Today</h4>
                    <!-- error message -->
                    <p class="text-center text-danger" id="recovery-info"></p>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                    <input type="text"  id="form1Example1" name="player_acct" required class="form-control tw-bg-transparent border-0 focus:tw-bg-transparent focus:tw-outline-none input-bx" />
                    <label class="form-label" for="form1Example1">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                    <input type="text" id="form1Example2" name="player_id" required class="form-control tw-bg-transparent border-0 focus:tw-bg-transparent focus:tw-outline-none input-bx" />
                    <label class="form-label" for="form1Example2">Player Id</label>
                    </div>

                    <!-- Submit button -->
                    <div>
                      <button type="submit" class="btn btn-custom">Unban Account</button>
                    </div>
                </form>


        </div>
       </div>

</main>
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="payment-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title section_header_txt" id="modalTitleId">Unban Your Account</h5>

        </div>
        <div class="modal-body">
            click purchase to use our auto-unban feature
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" data-bs-dismiss="modal" class="btn confirm_btn" >Close</button>
             {{paypal_btn.render_form}}
        </div>
      </div>
    </div>
  </div>




  <!-- warning modal -->
  <!-- Modal trigger button -->

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="warning-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">
            Before You Continue..
          </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          We recommend that you only unban one account at a time to avoid conflicts with the unban bot. <br> However if you want to unban multiple accounts at once,create multiple accounts.
        </div>
        
      </div>
    </div>
  </div>
  
  

<div id="preloader"></div>
{% endblock body %}

<!-- ========== Start Scripts ========== -->
{% block scripts %}
{% include 'src/scripts.html' %}
<script>
    const modal = document.getElementById('payment-modal')
    const paymentModal = new bootstrap.Modal(modal,{})

    const invalid_id = ()=>{
        document.getElementById('recovery-info').innerText = 'invalid id'
        setTimeout(()=>{
            document.getElementById('recovery-info').innerText = ''

        },3000)
    }
    const recovery_form = document.getElementById("recovery-form");

    recovery_form.addEventListener('submit',(e)=>{
        e.preventDefault();

        const formdata = new FormData(recovery_form)
        let data = Object.fromEntries(formdata)
        e.target.reset()
        if(data.player_id.length < 9 )return invalid_id()
        //fetch('{% url 'send_unban_mail' %}'+data.player_acct)
        paymentModal.show()
    })
  {% comment %} !timer.js {% endcomment %}
   
  function startCountdown(days, hours, minutes, seconds) {
    // show container
    document.querySelector('.timer-div').style.display = 'block'
    // Calculate the total time in milliseconds
   
    
    const totalMilliseconds =
      ((days * 24 + hours) * 60 + minutes) * 60 * 1000 + seconds * 1000;
  
    let timeRemaining = totalMilliseconds;
  
    function updateTimer() {
      // Calculate days, hours, minutes, and seconds
      const daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
      const hoursRemaining = Math.floor(
        (timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      const minutesRemaining = Math.floor(
        (timeRemaining % (1000 * 60 * 60)) / (1000 * 60)
      );
      const secondsRemaining = Math.floor((timeRemaining % (1000 * 60)) / 1000);
  
      // Format the time as "days:hours:minutes:seconds"
      const formattedTime = `${daysRemaining}days :${hoursRemaining}hours :${minutesRemaining}mins :${secondsRemaining}secs`;
  
      // generate progress bar in terms of 12 days
      const serverStart = 12 * 24 * 60 * 60 * 1000;
  
      // Calculate the progress percentage
  
      const progressPercentage =
        ((serverStart - timeRemaining) / serverStart) * 100;
  
      // Update the progress bar width
      document.getElementById("progress").style.width = progressPercentage + "%";
  
      // Display the formatted time in the timer div
      document.getElementById("timer").textContent = formattedTime;
      
      // Check if the countdown has reached zero
      if (timeRemaining <= 0) {
        clearInterval(interval); // Stop the countdown when it reaches zero
        document.querySelector(".timer-div").innerHTML = "<h3>Check your email for confirmation</h3><h3>Happy gaming</h3>";
      } else {
        timeRemaining -= 1000; // Decrease the time remaining by 1 second
      }
    }
  
    // Call the updateTimer function every second
    const interval = setInterval(updateTimer, 1000);
  
    // Initial update to display the timer immediately
    updateTimer();
  }
    fetch('{% url "time-left" %}')
    .then(e=>e.json())
    .then(data=>{
      console.log(data.time)
        startCountdown(0,0,0,data.time);
    })
  
    {% comment %} ! end timer.js {% endcomment %}
 
    
    const warningModal = new bootstrap.Modal(document.getElementById('warning-modal'),{})
    warningModal.show()

</script>
{% endblock scripts %}
<!-- ========== End Scripts ========== -->