{% extends 'src/generic_page_block.html' %}
{% load static %}
{% block title %}Become a member{% endblock title %}
{% block body %}
<!-- NavBar-->
{% include 'src/nav.html' %}
 <!-- ======= Breadcrumbs ======= -->
 <main id='main' class="!tw-pt-[4.5rem]">
 <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center lg:tw-bg-fixed" style="background-image: url({% static 'free_fire_images/halloween.jpg' %});">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Pricing</h2>
              <p>BECOME A MEMBER TODAY,Get valuable advantages over other users and faster customer support.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Pricing</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class = 'container'>
      {% include "src/countdown.html" %}
    </div>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <span>Pricing</span>
        <h2>Pricing</h2>
      </div>
      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Free Plan</h3>
            {% if view.kwargs.country and view.kwargs.country == 'NG' %}
            <h4><sup>&#x20A6;</sup>0<span> / month</span></h4>

            {% else %}
            <h4><sup>$</sup>0<span> / month</span></h4>

            {% endif %}
            <ul>
              <li><i class="bi bi-check"></i> Access to FreeFire leaks and tricks.</li>
              <li><i class="bi bi-check"></i> CustomerCare reply within 12hrs.</li>

              <li class="na"><i class="bi bi-x"></i> <span>20% Discount for account recovery services.</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Negative gems account recovery.</span></li>
            </ul>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing-item featured">
            <h3>Gamer Plan</h3>
            {% if view.kwargs.country and view.kwargs.country == 'NG' %}
            <h4 style='font-size:24px'><sup style="font-size:16px">&#x20A6;</sup>{{subscribtions.0.to_naira}}<span> / 3months</span></h4>

        {% else %}
            <h4><sup>$</sup>{{subscribtions.0.amount}}<span> / 3months</span></h4>

        {% endif %}            <ul>
              <li><i class="bi bi-check"></i> CustomerCare reply within 4hrs.</li>
              <li><i class="bi bi-check"></i> 20% Discount for account recovery services.</li>
              <li><i class="bi bi-check"></i> No cooldown time for account recovery services.</li>
              <li><i class="bi bi-check"></i> Resolve negative diamonds.</li>
              <li><i class="bi bi-check"></i> Restore blacklisted accounts.</li>
            </ul>
            {% if subscription_active.get_plan in subscribtions.0.item_name %}
            <button class="buy-btn tw-cursor-pointer" >Active</button>

            {% else %}
            <button class="btn btn-primary" onclick="handle_gem_purchase('{{game_plan_btn}}')">Purchase</button>

              {% endif %}          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="pricing-item">
            <h3>Hackers Plan</h3>
            {% if view.kwargs.country and view.kwargs.country == 'NG' %}
                <h4 style='font-size:24px'><sup style="font-size:16px">&#x20A6;</sup>{{subscribtions.1.to_naira}}<span> / 3months</span></h4>

            {% else %}
                <h4><sup>$</sup>{{subscribtions.1.amount}}<span> / 3months</span></h4>

            {% endif %}
            <ul>
              <li><i class="bi bi-check"></i> CustomerCare reply within 1hr.</li>
              <li><i class="bi bi-check"></i> 20% Discount in account recovery services.</li>
              <li><i class="bi bi-check"></i> No cooldown time for account recovery services</li>
              <li><i class="bi bi-check"></i> Get Emails on new updates,sensitivity settings,account recovery information</li>
            </ul>
            {% if subscription_active.get_plan in subscribtions.1.item_name %}
            <button class="buy-btn tw-cursor-pointer" >Active</button>

            {% else %}
            <button class="btn btn-primary" onclick="handle_gem_purchase('{{hackers_plan_btn}}')">Purchase</button>

            {% endif %}

          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>
  </section><!-- End Pricing Section -->

</div>

</main>
{% endblock body %}
<!-- ========== Start Scripts ========== -->
{% block scripts %}
{% include 'src/scripts.html' %}
<script>
  function buyItem(itemId){
    window.location.href = '/purchase-status/confirm-purchase/'+itemId
  }
  const handle_gem_purchase = item_id=>{
    window.location.href = '{% url "topup" %}confirm/'+item_id
  }
    {% comment %} !timer.js {% endcomment %}
   
function startCountdown(days, hours, minutes, seconds) {
  // show container
  document.querySelector('.timer-div').style.display = 'block'
  // Calculate the total time in milliseconds
 
  
  const totalMilliseconds =
    ((days * 24 + hours) * 60 + minutes) * 60 * 1000 + seconds * 1000;

  let timeRemaining = totalMilliseconds;

  function updateTimer() {
    // Calculate days, hours, minutes, and seconds
    const daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
    const hoursRemaining = Math.floor(
      (timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutesRemaining = Math.floor(
      (timeRemaining % (1000 * 60 * 60)) / (1000 * 60)
    );
    const secondsRemaining = Math.floor((timeRemaining % (1000 * 60)) / 1000);

    // Format the time as "days:hours:minutes:seconds"
    const formattedTime = `${daysRemaining}days :${hoursRemaining}hours :${minutesRemaining}mins :${secondsRemaining}secs`;

    // generate progress bar in terms of 12 days
    const serverStart = 12 * 24 * 60 * 60 * 1000;

    // Calculate the progress percentage

    const progressPercentage =
      ((serverStart - timeRemaining) / serverStart) * 100;

    // Update the progress bar width
    document.getElementById("progress").style.width = progressPercentage + "%";

    // Display the formatted time in the timer div
    document.getElementById("timer").textContent = formattedTime;
    
    // Check if the countdown has reached zero
    if (timeRemaining <= 0) {
      clearInterval(interval); // Stop the countdown when it reaches zero
      document.querySelector(".timer-div").innerHTML = "<h3>Check your email for confirmation</h3><h3>Happy gaming</h3>";
    } else {
      timeRemaining -= 1000; // Decrease the time remaining by 1 second
    }
  }

  // Call the updateTimer function every second
  const interval = setInterval(updateTimer, 1000);

  // Initial update to display the timer immediately
  updateTimer();
}
  fetch('{% url "time-left" %}')
  .then(e=>e.json())
  .then(data=>{
    console.log(data.time)
      startCountdown(0,0,0,data.time);
  })

  {% comment %} ! end timer.js {% endcomment %}
</script>
{% endblock scripts %}
<!-- ========== End Scripts ========== -->