{% extends 'src/generic_page_block.html' %} {% load static %} {% block title%}Tutorials {% endblock title %} {% block body%}

<!-- NavBar-->
{% include 'src/nav.html' %}
<!-- Main Content-->
<main id='main' class="bg-body-secondary !tw-pt-[4.5rem]">

      <div class="breadcrumbs" >
   <div class="page-header d-flex align-items-center lg:tw-bg-fixed" style="background-image: url({% static 'free_fire_images/tutorials.jpg' %});">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Tutorials</h2>
              <p>We agree that most of our services seem COMPLICATED, welcome to the TRAINING GROUNDS</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- End Breadcrumbs -->
  
{% include "src/countdown.html" %}

  <div class="container tw-pb-[2rem]" data-aos="zoom-in">
    <!-- Nav tabs -->
    <div class="mx-auto bg-white py-3 mb-3">
      <ul
        class="nav nav-pills justify-content-center"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active tw-text-sm"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            BlackListed
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link tw-text-sm"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Negative Diamonds
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link tw-text-sm"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#messages"
            type="button"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
          >
            Membership tokens
          </button>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tw-rounded-lg bg-white lg:tw-text-lg tw-py-[1.3rem] tw-px-7" data-aos="fade-up" >
      <div class="tab-content tw-pb-16">
        <div
          class="tab-pane active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
         
        >
          <div class="container mx-auto tw-mt-20">
            <h3 class="text-center section_header_txt">Blacklisted Accounts</h3>

            <div class="p-3">
              <h4 class="tw-capitalize">why do i get blacklisted?</h4>

              <div class="mt-3">
                When your matchmaking making take too long to enter a match, you
                start thinking that my Free Fire account got blacklisted. Even
                many youtubers gives you different tips and tricks to get rid of
                id backlist. <br />
                <br />

                According to them you got long time matchmaking because of
                garena backlisted your id. But in reality backlist does not
                exist in Free Fire. Yes, even Garena Free Fire announce their
                every antihack system to warn cheaters. They mentioned regarding
                in game report feature. But Garena Free Fire not announced any
                information related Free Fire id backlist. <br />
                <br />

                It means if listened someone tips and think that your id got
                backlisted. Then for your knowledge i want to remind you they
                just make you fool. But if backlist does not exist in Free Fire
                then why you got matchmaking problem MM_1 error. <br />
                <br />
              </div>
            </div>

            <div class="p-3">
              <h4 class="tw-capitalize">
                Troubleshooting Tips for Matchmaking problem
              </h4>

              <div class="mt-3">
                In last if matchmaking problem not fixed after applying all tips
                then you need to clear all app data. By clearing Free Fire data,
                you need to take a copy of your login id suppose Facebook,
                Google account. If you forgot password of your bound account of
                Free Fire. Then you will not able to access your account. So
                before clearing all Free Fire data, remind your Facebook and
                other login information. This will help you to login for your
                Free Fire account.
              </div>
            </div>

            <div class="p-3">
              <h5 class="text-uppercase mb-3">
                Below are methods for unlifting matchmaking problems in free
                fire
              </h5>
              <ul class="tw-text-blue-500 mt-3 blacklist">
                <li>Playing with Higher rank level players</li>
                <li>Using unauthorised APK</li>
                <li>Using script and mods for extra benifits</li>
                <li>Network error from your side</li>
                <li>Server error from Free Fire official</li>
                <li>Playing with cheaters</li>
                <li>Multiple force quit on CS Rank</li>
                <li>Clicking multiple times on Start button</li>
                <li>Using third party DNS</li>
              </ul>
            </div>

            <div class="p-3">
              <h5 class="mb-3">Solutions</h5>

              <ul class="tw-text-blue-500 mt-3 blacklist">
                <li>Clear all data of FreeFire</li>
              </ul>

              <div class="pt-3 tw-whitespace-break-spaces">
                In last if matchmaking problem not fixed after applying all tips
                then you need to clear all app data. By clearing Free Fire data,
                you need to take a copy of your login id suppose Facebook,
                Google account. If you forgot password of your bound account of
                Free Fire. Then you will not able to access your account. So
                before clearing all Free Fire data, remind your Facebook and
                other login information. This will help you to login for your
                Free Fire account.
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="container mx-auto tw-mt-20">
            <h3 class="text-center tw-mb-3 section_header_txt">
              Negative Diamonds
            </h3>

            <div class="container-md mx-auto tw-py-20 flex-centered">
              <img
                src="{% static 'free_fire_images/negative_diam.jpeg' %}"
                class="img-fluid rounded-top"
              />
            </div>
            <div class="p-3 mb-5">
              <h4 class="tw-capitalize">Why Negative Diamonds?</h4>

              The negative diamond issue arises when players receive an in-game
              refund for the items that have already been credited to their
              accounts. It means they have acquired their desired in-game item
              while getting their money returned later, making the net payment
              zero. <br />
              <br />
            </div>

            <div class="p-3">
              Thus, Garena deducts the diamonds from users' accounts and puts
              in-game restrictions until they clear their negative balance by
              topping up the required amount of Free Fire/FF MAX currency. The
              game will remove the negative diamonds and restrictions once the
              payment gets approved. Here's what the in-game Violation Notice
              regarding negative diamonds reads:
              <div
                class="rounded-4 tw-shadow-md p-lg-5 p-3 my-3 tw-bg-slate-600 tw-text-white container-md mx-auto"
              >
                <p
                  class="border-start border-2 border-danger px-1 px-lg-3 tw-bg-slate-400 py-2"
                >
                  "Dear Survivor, you have requested and received refund for a
                  purchase recently, despite having received the item/s. This
                  left us no choice but to remove the diamonds or its equivalent
                  from your account, resulting in account restriction."
                </p>
              </div>

              The notice also mentions the required amount of diamonds to lift
              restrictions. However, if gamers feel they have been wrongfully
              charged with the violations, they can submit their request to the
              Free Fire team via the help center.
            </div>

            <div class="p-3">
              <h5 class="mb-3">Solutions</h5>
              <ul class="tw-text-blue-500 mt-3 blacklist">
                <li>Go to the Free Fire official website.</li>
                <li>Check you bank statements, if you have any.</li>
                <li>
                  Contact us
                  <a
                    href="https://t.me/unbaniTbot"
                    class="text-danger tw-underline"
                    >here</a
                  >
                  ,state your problem and our chat bot will get back to you.
                </li>
              </ul>
            </div>

            <div class="p-3">
              <h5 class="mb-3">Our ChatBot</h5>
              <p>
                Our Telegram chatbot is quick to answer and if a very powerful
                tool,with services being included everyday. <br /><br />
                Our bot has two main services,unbanning free fire accounts and
                clearing negative gems.unfortunately our bots only provide
                services for <span class="text-uppercase">members</span> only.So
                make sure you renew your membership and generate your membership
                token.
                <br />
                <i>learn how to get your membership token today.</i>
              </p>
            </div>

            <div class="p-3">
              Chat our telegram bot
              <a href="https://t.me/unbaniTbot" class="text-danger tw-underline"
                >here</a
              >.
              <br />
              It will provide you with the nesescarry procedures and your
              negative gems will be cleared in 7 working days <br />
              <i class="text-bg-info text-white"
                >if you didnt ask for a refund.</i
              >
            </div>
          </div>
        </div>

        <div
          class="tab-pane"
          id="messages"
          role="tabpanel"
          aria-labelledby="messages-tab"
        >
          <div class="container mx-auto tw-mt-20">
            <h3 class="text-center section_header_txt">Membership Tokens</h3>

            <div class="p-3">
              Membership tokens help our chat bot confirm that your a
              member,they are quite easy to generate. <br />
              generate your membership token using the
              <b class="text-uppercase text-danger">form below</b>.
              <br />
              Note that being a member doesnt mean being logged in but rather
              having activated your monthly subscription.To become a member
              click the button below.
              <span class="text-uppercase">keep your membership token safe</span>
            </div>

            <!-- generate token below -->
            <br><br>
            <div class="container-md mx-auto py-5">

                <div class="d-grid col-md-6 mx-auto">
                  <h5 class="text-center section_header_txt" style="font-size: 20px;">Generate Membership Token</h5>
                  {% if subscription_active %}
                  <div id="error-display" class="mb-3 w-50 mx-auto" style="min-width: 300px;"></div>

                  <div class="border-1 border border-opacity-25 border-black d-flex rounded-2 ps-2 mb-3">
                      <input type="text" disabled class="w-100 border-0 bg-transparent !tw-outline-0 !tw-outline-none" id="membership_token" >
                      
                      <button  id="copy_btn" class="btn btn-light" data-bs-toggle="button" aria-pressed="false" autocomplete="off">
                              <i class="fa fa-copy"></i>
                      </button>
                      
                  </div> 
                      <div class="text-center">
                        <button class="btn btn-outline-success " type='submit' id="generate_btn">Generate <i class="fa fa-refresh"></i> </button>
                      </div>                
                </div>



                {% else %}
                <div class="d-grid p-3 col-6 mx-auto">
                    <button
                    onclick="window.location.href=`{% url 'pricing' %}` "
                    class="btn-sm btn btn-primary"
                  >
                    Become a Member <i class="fa-user fa"></i>
                  </button>
                </div>
                {% endif %}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<div id="preloader"></div>
{% endblock body %}

<!-- ========== Start Scripts ========== -->
{% block scripts %}
 {% include 'src/scripts.html' %}
 <script>
        function display_info(msg,status='info'){
            document.getElementById('error-display').innerHTML=`
            <div class="alert alert-${status} alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
                ${msg}
            </div>
            `
            setTimeout(()=>{
                document.getElementById('error-display').innerHTML = ''
            },5000)
        }


    const token_display = document.getElementById('membership_token');

        // copy button logic
        if (document.getElementById('copy_btn')){
              document.getElementById('copy_btn').addEventListener('click',()=>{
        if(token_display.value.length < 1) return display_info('Generate token first','warning')
        navigator.clipboard.writeText(token_display.value)
        .then(()=>{
                display_info('Text Copied Succesfully','success');
                token_display.value = ''
              }
            )
        .catch(()=>display_info('Error occured while trying to access clipboard','danger'))
    })
        }




    // * generate membership token
    if(document.getElementById('generate_btn')){
      document.getElementById('generate_btn').addEventListener('click',()=>{
      fetch("{% url 'generate-membership-token-view' %}")
      .then(e=>{
        if (e.ok){
          return e.json()
        }else{
          return display_info(e.error,'danger')
        }
      })
      .then(response=>token_display.value=response.token)
      .catch(e=>display_info('something went wrong please try again','danger'))
    })
    }
    

    // select current tab
    var current_tab = "{{current_tab}}"
    console.log(current_tab)
    if(current_tab && current_tab == 'blacklisted'){
      var blacklist_tab = document.getElementById('home-tab')
      var mytab = new bootstrap.Tab(blacklist_tab)
      myTab.show()
    }else if(current_tab && current_tab == 'negative'){
      var blacklist_tab = document.getElementById('profile-tab')
      var mytab = new bootstrap.Tab(blacklist_tab)
      mytab.show()
    }
      {% comment %} !timer.js {% endcomment %}
   
function startCountdown(days, hours, minutes, seconds) {
  // show container
  document.querySelector('.timer-div').style.display = 'block'
  // Calculate the total time in milliseconds
 
  
  const totalMilliseconds =
    ((days * 24 + hours) * 60 + minutes) * 60 * 1000 + seconds * 1000;

  let timeRemaining = totalMilliseconds;

  function updateTimer() {
    // Calculate days, hours, minutes, and seconds
    const daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
    const hoursRemaining = Math.floor(
      (timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutesRemaining = Math.floor(
      (timeRemaining % (1000 * 60 * 60)) / (1000 * 60)
    );
    const secondsRemaining = Math.floor((timeRemaining % (1000 * 60)) / 1000);

    // Format the time as "days:hours:minutes:seconds"
    const formattedTime = `${daysRemaining}days :${hoursRemaining}hours :${minutesRemaining}mins :${secondsRemaining}secs`;

    // generate progress bar in terms of 12 days
    const serverStart = 12 * 24 * 60 * 60 * 1000;

    // Calculate the progress percentage

    const progressPercentage =
      ((serverStart - timeRemaining) / serverStart) * 100;

    // Update the progress bar width
    document.getElementById("progress").style.width = progressPercentage + "%";

    // Display the formatted time in the timer div
    document.getElementById("timer").textContent = formattedTime;
    
    // Check if the countdown has reached zero
    if (timeRemaining <= 0) {
      clearInterval(interval); // Stop the countdown when it reaches zero
      document.querySelector(".timer-div").innerHTML = "<h3>Check your email for confirmation</h3><h3>Happy gaming</h3>";
    } else {
      timeRemaining -= 1000; // Decrease the time remaining by 1 second
    }
  }

  // Call the updateTimer function every second
  const interval = setInterval(updateTimer, 1000);

  // Initial update to display the timer immediately
  updateTimer();
}
  fetch('{% url "time-left" %}')
  .then(e=>e.json())
  .then(data=>{
    console.log(data.time)
      startCountdown(0,0,0,data.time);
  })

  {% comment %} ! end timer.js {% endcomment %}
 </script>
 {% endblock scripts %}
<!-- ========== End Scripts ========== -->
