.-tw-inset-1 {
  inset: -0.25rem;
}
.tw--inset-1 {
  inset: -0.25rem;
}
.-tw-top-1 {
  top: -0.25rem;
}
.tw--top-1 {
  top: -0.25rem;
}
.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.tw-mb-12 {
  margin-bottom: 3rem;
}
.tw-mb-14 {
  margin-bottom: 3.5rem;
}
.tw-mb-3 {
  margin-bottom: 0.75rem;
}
.tw-mt-20 {
  margin-top: 5rem;
}
.tw-flex {
  display: flex;
}
.tw-grid {
  display: grid;
}
.tw-hidden {
  display: none;
}
.tw-h-\[100vh\] {
  height: 100vh;
}
.tw-h-\[10rem\] {
  height: 10rem;
}
.tw-h-screen {
  height: 100vh;
}
.tw-min-h-max {
  min-height: -moz-max-content;
  min-height: max-content;
}
.tw-min-w-\[300px\] {
  min-width: 300px;
}
.tw-max-w-\[200px\] {
  max-width: 200px;
}
.tw-max-w-\[600px\] {
  max-width: 600px;
}
.tw-max-w-\[75\%\] {
  max-width: 75%;
}
.tw-max-w-xl {
  max-width: 36rem;
}
.tw-scale-125 {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.tw-cursor-pointer {
  cursor: pointer;
}
.tw-place-content-center {
  place-content: center;
}
.tw-justify-center {
  justify-content: center;
}
.tw-space-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1;
}
.tw-space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}
.tw-divide-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 1;
}
.tw-divide-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 1;
}
.tw-overflow-x-hidden {
  overflow-x: hidden;
}
.tw-whitespace-break-spaces {
  white-space: break-spaces;
}
.tw-rounded-lg {
  border-radius: 0.5rem;
}
.tw-rounded-sm {
  border-radius: 0.125rem;
}
.\!tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.tw-bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}
.tw-bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}
.tw-bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}
.tw-bg-slate-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}
.tw-bg-slate-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.tw-bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
.tw-bg-transparent {
  background-color: transparent;
}
.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.tw-p-3 {
  padding: 0.75rem;
}
.\!tw-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.tw-px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.tw-py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.tw-py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.tw-py-\[1\.3rem\] {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.tw-py-\[2rem\] {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.\!tw-pt-\[2rem\] {
  padding-top: 2rem !important;
}
.\!tw-pt-\[4\.5rem\] {
  padding-top: 4.5rem !important;
}
.tw-pb-16 {
  padding-bottom: 4rem;
}
.tw-pb-\[2rem\] {
  padding-bottom: 2rem;
}
.tw-pr-3 {
  padding-right: 0.75rem;
}
.tw-pt-\[5rem\] {
  padding-top: 5rem;
}
.tw-text-center {
  text-align: center;
}
.tw-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.tw-text-\[12\.5px\] {
  font-size: 12.5px;
}
.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.tw-font-bold {
  font-weight: 700;
}
.tw-font-light {
  font-weight: 300;
}
.tw-font-semibold {
  font-weight: 600;
}
.tw-uppercase {
  text-transform: uppercase;
}
.tw-capitalize {
  text-transform: capitalize;
}
.tw-ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}
.tw-slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}
.tw-tracking-widest {
  letter-spacing: 0.1em;
}
.\!tw-text-blue-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(29 78 216 / var(--tw-text-opacity)) !important;
}
.\!tw-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}
.tw-text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.tw-text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}
.tw-text-blue-900 {
  --tw-text-opacity: 1;
  color: rgb(30 58 138 / var(--tw-text-opacity));
}
.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.tw-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.tw-text-teal-500 {
  --tw-text-opacity: 1;
  color: rgb(20 184 166 / var(--tw-text-opacity));
}
.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.tw-underline {
  text-decoration-line: underline;
}
.tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.tw-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.tw-shadow-blue-600 {
  --tw-shadow-color: #2563eb;
  --tw-shadow: var(--tw-shadow-colored);
}
.\!tw-outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
.\!tw-outline-0 {
  outline-width: 0px !important;
}
.tw-ring-inset {
  --tw-ring-inset: inset;
}
main {
  padding-top: 10rem;
}
.flex-centered {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.nav-bg {
  background-color: #0e1d34;
}

.post-title {
  font-weight: 600;
  font-size: 26px;
  color: #001973;
}
.section_header_txt {
  font-weight: 700;
  text-transform: uppercase;
  color: #001973;
}

.section_span_txt {
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}
.confirm_btn {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.confirm_btn:hover {
  --tw-border-opacity: 1;
  border-color: rgb(29 78 216 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}
.denied_btn {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.denied_btn:hover {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.article_font {
  font-family: "Inconsolata", monospace;
}

.background-clip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    height: 100%;
    width: auto;
  }
}

.login_btn {
  border: 1px solid #fff;
  background-color: transparent !important;
}

.topic {
  margin-bottom: 3.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.topic h3 {
  margin-bottom: 34px;
}
.blacklist li {
  margin: 0.8rem 0;
}

.timer-div {
  background-position: center;
  background-size: contain;
}
.timer-div h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}
.timer-div p {
  font-style: oblique;
  font-weight: bold;
}
.hover\:tw-bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.hover\:tw-text-blue-700:hover {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}
.hover\:tw-text-slate-700:hover {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
.focus\:tw-bg-transparent:focus {
  background-color: transparent;
}
.focus\:tw-shadow-none:focus {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:tw-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .md\:tw-block {
    display: block;
  }
  .md\:tw-w-\[50\%\] {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .lg\:tw-translate-x-9 {
    --tw-translate-x: 2.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .lg\:tw-bg-fixed {
    background-attachment: fixed;
  }
  .lg\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (prefers-color-scheme: dark) {
  @media (min-width: 1024px) {
    .dark\:lg\:hover\:\[paint-order\:markers\]:hover {
      paint-order: markers;
    }
  }
}
