@import "tailwindcss/components";
@import "tailwindcss/utilities";
main{
  padding-top: 10rem
}
.flex-centered {
  @apply tw-flex tw-justify-center tw-align-middle;
}
.nav-bg{
  background-color:#0e1d34 ;
}

.post-title{
  font-weight: 600;
  font-size: 26px;
  color: #001973;
}
.section_header_txt {
  font-weight: 700;
  text-transform: uppercase;
  color: #001973;

}

.section_span_txt{
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}
.confirm_btn{
  @apply tw-text-white tw-bg-blue-700 hover:tw-text-blue-700 hover:tw-bg-white hover:tw-border-blue-700;
}
.denied_btn{
  @apply tw-text-white tw-bg-slate-700 hover:tw-text-slate-700 hover:tw-bg-white hover:tw-border-slate-700;
}

.article_font{
  font-family: 'Inconsolata', monospace;
}

.background-clip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    height: 100%;
    width: auto;
  }
}

.login_btn{
  border: 1px solid #fff;
  background-color: transparent !important;
}

.topic{
  @apply tw-mb-14 tw-px-3
}

.topic h3{
  margin-bottom: 34px;
}
.blacklist li{
  margin: .8rem 0;
}

/* gradient */
