{% extends 'src/generic_page_block.html' %}
{% load static %} 
{% block title%} Confirm Purchase {% endblock title %}



{% block body%}

<!-- ========== Start PAYPAL ========== -->
<script src="https://www.paypal.com/sdk/js?client-id=AS7tOMxm8yiSX3gv89Yfrtv5LzknYQ6Gcyd6Xrklrb8cm5ZrMpntTzTmO9lM7g0ZN4wcPNIOSy2F5k77&currency=USD"></script>




<!-- ========== End PAYPAL ========== -->
<style>
    .iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}
.icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}
.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.15rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
</style>
<!-- NavBar-->
{% include 'src/nav.html' %}
<main class="bg-light tw-h-screen overflow-y-auto">
    <div class="container">
      <div class="mx-auto w-100 mb-5" style="max-width: 500px;">
        <!-- !  ERROR CONTAINER -->
      <div id="error-cont" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p></p>
      </div>
      
      <!-- ! SUCCESS CONTAINER -->
      <div id="success-cont" class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p></p>
      </div>
 
      </div>
        <div class="d-grid col-md-8 col-lg-4 mx-auto " data-aos="flip-up">
            <div class="section_header_txt mb-2 text-center" style="font-size: 19px;">Complete Purchase</div>
                <div class="icon border border-primary" >
                  {% if 'gems' in item.item_name %}
                      <i class="ri-vip-diamond-fill" style="font-size: 40px;"></i>

                  {% else %}
                    <i class="fa fa-user" style="font-size: 40px;"></i>
                  {% endif %}
            <span class="badge bg-primary">
                <i class="fa fa-add"></i>
            </span>
            <p>Item:{{ item.item_name }}</p>
            
            {% if country  and country == 'NG' %}
            <p> &#x20A6;  {{ item.to_naira }}</p>
            {% else %}
            <p><i class="fa fa-dollar-sign"></i> {{ item.amount }}</p>
            {% endif %}
            
            <div class="label py-2 d-flex flex-column gap-2">
            {% comment 'no longer necesary ive added paypal frontend cdn' %} {{purchase_btn.render_form}} {% endcomment %}
          <div class="w-75 mx-auto pt-2"><div id="paypal-button-container" ></div></div>
            
            </div>
        </div>
        </div>        
    </div>


</main>

{% endblock body %}
{% block scripts %}
<script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/vendor/aos/aos.js" %}></script>
<script defer src={% static "assets/js/main.js" %}></script>
<script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
<script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
<script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
<script src={% static "assets/vendor/aos/aos.js" %}></script>

<!-- logic -->
<script defer>
const errContainer = document.getElementById("error-cont")
const successContainer = document.getElementById("success-cont")
errContainer.style.display= 'none'
successContainer.style.display = 'none'


const showError=err=>{
  errContainer.querySelector('p').innerText = err
  errContainer.style.display = 'block'
}
const showSuccess=err=>{
  successContainer.querySelector('p').innerText = err
  successContainer.style.display = 'block'
}



  paypal.Buttons({

    style: {
  size:'responsive',
      color: 'blue',
      
      shape: 'pill',
    
      },
    funding: {
 allowed: [ paypal.FUNDING.CARD ],
 disallowed: [ paypal.FUNDING.CREDIT ,paypal.FUNDING.ELV],

},

// Call your server to set up the transaction
createOrder: function(data, actions) {
return actions.order.create({
purchase_units:[
  {
      amount:{
          value:'{{price}}'
      }
  }
]
})
},

// Call your server to finalize the transaction
onApprove: function(data, actions) {
return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
method: 'post'
}).then(function(res) {
return res.json();
}).then(function(orderData) {
// Three cases to handle:
//   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
//   (2) Other non-recoverable errors -> Show a failure message
//   (3) Successful transaction -> Show confirmation or thank you


var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
  return actions.restart(); // Recoverable state, per:
  // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
}

if (errorDetail) {
  var msg = 'Sorry, your transaction could not be processed.';
  if (errorDetail.description) msg += '\n\n' + errorDetail.description;
  if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
     return showError(msg)
}

// Successful capture! For demo purposes:
console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
var transaction = orderData.purchase_units[0].payments.captures[0];
showSuccess('Transaction '+ transaction.status + ': ' + transaction.id );
fetch('{% url "users-payment" %}/{{invoice.item_id}}')
.then(e=>{
    window.location.href = "{% url 'invoice' %}{{invoice.item_id }}"
})

});
}

}).render('#paypal-button-container');




</script>

{% comment %} your scripts here {% endcomment %}
{% endblock scripts %}